* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header-list {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: sans-serif;
}

.text-body {
    display: flex;
    justify-content: space-between;
}

.card-box {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 359px;
}

 p {
        font-size: 16px;
        line-height: 26px;
        color: #1F3F68;
    }

.top_heading  {
    font-size: 50px;
}

h3 {
    font-size: 36px;
    text-align: center;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.header {
    font-size: 34px;
    color: #1F3F68;
}

.contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.type-text {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button-submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}


