* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top {
    height: 768px;
    background: linear-gradient(0deg,
    #EBF3FB 8.84%, rgba(152, 195, 232,
    0) 31.12%);
}

.header-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.top-heading {
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    color: #1F3F68;
    line-height: 74px;
    letter-spacing: 0.04em;
}

.text-t {
    padding-top: 115px; 
}

.top-text {
    width: 425px;
}

.text-body {
    display: flex;
    justify-content: space-between;
}

.card-box {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 359px;
}

 p {
        font-size: 16px;
        line-height: 26px;
        color: #1F3F68;
    }



h1 {
    text-align: center;
}

 h3 {
    font-size: 36px;
    text-align: center;
}

 h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.header {
    font-size: 34px;
    color: #1F3F68;
}

.contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.main {
    display: flex;
}

.type-text {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button-submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.f-info {
    display: flex;
    justify-content: space-between;
}

.f-list {
    flex-grow: 1;
}



