* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top {
    height: 768px;
    background: linear-gradient(0deg,
    #EBF3FB 8.84%, rgba(152, 195, 232,
    0) 31.12%);
}

.top-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.top-heading {
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    color: #1F3F68;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.text-project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;

}

.text-t {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top-back.svg);
    background-repeat: no-repeat;
    background-position: right center;
}

.top-text {
    width: 425px;
}

.top-button {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px 
    rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.text-body {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.what-I-do {
    padding-top: 64px;
}

.card-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
}

.card-img{
    align-self: center;
    margin-bottom: 51px;
}

h1 {
    text-align: center;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.card-link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none; 
}

.header {
    font-size: 34px;
    color: #1F3F68;
}

.contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.main {
    display: flex;
}

.project {

}

.project__item {
    position: relative;
    flex-grow: 1;
}

.pi_style {
    margin-right: 32px;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project__img {
    width: 100%;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    position: absolute;
    top: 64px;
    right: 64px;
    color: #FFFFFF;
}

.pt_style2 {
    top: 32px;
    right: 307px;
    text-align: left;
}

.pt_style3 {
    top: 32px;
    right: 232px;
    text-align: left;
}

.type-text {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button-submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.b-footer {
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    opacity: 0.4;
    width: 1140px;
    margin: 0 auto;
    display: block;
}

.footer-mini-header {
    width: 340.96px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.footer-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    text-align: left;
    width: 50%;
    margin-top: 215px;
    margin-right: 759px;
    margin-bottom: 96px;
    width: 494.77px;
}

.footer-button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    text-decoration: none;
    padding: 15px 80px;
    left: 1015px;
    top: 2881px;
    position: absolute;
}

/*
    box-shadow: 5px 10px 20px
rgba(53, 110, 173, 0.2);
padding: 15px 50px;
display: inline-block;
margin-top: 71px;
    */

.f- info {
    display: flex;
    
}

.f-list {
    margin-top: 64px;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    justify-content: space-between;
}

.footer-copy {
    margin-top: 64px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

